@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body
{
    height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    background-color: #2d3436;
    background: linear-gradient(315deg, #171a1b 0%, #000000 100%);

}
body::before,
body::after
{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    opacity:0.4;
}
body::before
{
    clip-path: circle(30% at left 20%);
    background: linear-gradient(315deg, #474848  10%, #2e2b2b 100%);

}
body::after
{
    clip-path: circle(25% at right 80%);
    background-color: #2d3436;
    background: linear-gradient(315deg, #0e0e0f 10%, #000000 100%);
}
header
{
    height:85vh;
    width:90%;
    background:rgba(30, 30, 29, 0.1);
    backdrop-filter: blur(4px);
    margin:auto;
    border-radius:20px;
    box-shadow: 1px 15px 20px rgba(175, 163, 163, 0.5);
    border-top: 1px solid rgba(223, 210, 210, 0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
}
header .navbar
{
    width:100%;
    display:flex;
    padding:35px 50px;
    justify-content: space-between;


}
header .navbar .logo a
{
    font-size:25px;
    font-weight:500;
    color:rgb(211, 211, 189);
    text-decoration: none;
}
header .navbar .menu
{
    display:flex;
}
.navbar .menu li
{
   list-style: none;
   margin: 0 6px;
}
.navbar .menu a
{
   text-decoration: none;
   color:rgb(133, 129, 10);
   font-size:20px;
   font-weight:500;
   transition: all 0.5 ease;

}
.navbar .menu a:hover
{
    color:rgb(199, 199, 216);
}
.navbar .buttons input
{
    color:rgb(12, 12, 10);
    outline:none;
    font-size:20px;
    font-weight:500;
    padding:6px 12px;
    margin:0 8px;
    border-radius:12px;
    border:none;
    cursor:pointer;
    transition:all 0.3s ease;
    background: linear-gradient(315deg, #e9ecd7 0%, #a2abac 74%);
}
.navbar .buttons input:hover
{
   transform:scale(0.97);
   
}


